In [3]:
from netCDF4 import Dataset #import Dataset from the netCDF4 package
import matplotlib.pyplot as plt
import numpy as np
import datetime


ds = Dataset(r'mystery_file.nc')

## The two netCDF extensions used are .nc and .cdf

In [4]:
print(ds)

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_CLASSIC data model, file format NETCDF3):
    Conventions: CF-1.6
    Metadata_Conventions: Unidata Dataset Discovery v1.0
    cdm_data_type: Grid
    comment: Sea Surface Height measured by Altimetry and derived variables
    contact: servicedesk.cmems@mercator-ocean.eu
    creator_email: servicedesk.cmems@mercator-ocean.eu
    creator_name: CMEMS - Sea Level Thematic Assembly Center
    creator_url: http://marine.copernicus.eu
    date_created: 2018-10-25T08:03:12Z
    date_issued: 2018-10-25T08:03:12Z
    date_modified: 2018-10-25T08:03:12Z
    geospatial_lat_max: 50.375
    geospatial_lat_min: 20.625
    geospatial_lat_resolution: 0.25
    geospatial_lat_units: degrees_north
    geospatial_lon_max: -39.625
    geospatial_lon_min: -90.625
    geospatial_lon_resolution: 0.25
    geospatial_lon_units: degrees_east
    geospatial_vertical_max: 0.0
    geospatial_vertical_min: 0.0
    geospatial_vertical_positive: down
    geospatial_vertical_resolution: point
    geospatial_vertical_units: m
    history: Fri May 10 15:10:21 2019: ncks -v time,latitude,longitude,sla dataset-duacs-rep-global-merged-allsat-phy-l4_1551981104609.nc NW_Atlantic_SLA.nc
2018-10-25 08:03:15Z: Creation
    institution: CLS, CNES
    keywords: Oceans > Ocean Topography > Sea Surface Height
    keywords_vocabulary: NetCDF COARDS Climate and Forecast Standard Names
    license: http://marine.copernicus.eu/web/27-service-commitments-and-licence.php
    platform: Altika Drifting Phase, Cryosat-2, Haiyang-2A Geodetic Phase, Jason-3, Sentinel-3A
    processing_level: L4
    product_version: 4.0.0
    project: COPERNICUS MARINE ENVIRONMENT MONITORING SERVICE (CMEMS)
    references: http://marine.copernicus.eu
    software_version: 6.1
    source: Altimetry measurements
    ssalto_duacs_comment: The reference mission used for the altimeter inter-calibration processing is Topex/Poseidon between 1993-01-01 and 2002-04-23, Jason-1 between 2002-04-24 and 2008-10-18, OSTM/Jason-2 between 2008-10-19 and 2016-06-25, Jason-3 since 2016-06-25.
    standard_name_vocabulary: NetCDF Climate and Forecast (CF) Metadata Convention Standard Name Table v37
    summary: SSALTO/DUACS Delayed-Time Level-4 sea surface height and derived variables measured by multi-satellite altimetry observations over Global Ocean.
    time_coverage_duration: P1D
    time_coverage_end: 2018-06-10T00:00:00Z
    time_coverage_resolution: P1D
    time_coverage_start: 2018-06-10T00:00:00Z
    title: DT merged all satellites Global Ocean Gridded SSALTO/DUACS Sea Surface Height L4 product and derived variables
    History: Translated to CF-1.0 Conventions by Netcdf-Java CDM (CFGridWriter2)
Original Dataset = dataset-duacs-rep-global-merged-allsat-phy-l4; Translation Date = 2019-03-07T17:51:44.693Z
    NCO: netCDF Operators version 4.7.8 (Homepage = http://nco.sf.net, Code = http://github.com/nco/nco)
    dimensions(sizes): latitude(120), longitude(205), time(1462)
    variables(dimensions): float32 latitude(latitude), float32 longitude(longitude), int32 sla(time,latitude,longitude), float32 time(time)
    groups:

In [5]:
print(ds.variables)

OrderedDict([('latitude', <class 'netCDF4._netCDF4.Variable'>
float32 latitude(latitude)
    axis: Y
    bounds: lat_bnds
    long_name: Latitude
    standard_name: latitude
    units: degrees_north
    valid_max: 89.875
    valid_min: -89.875
    _CoordinateAxisType: Lat
unlimited dimensions:
current shape = (120,)
filling on, default _FillValue of 9.969209968386869e+36 used
), ('longitude', <class 'netCDF4._netCDF4.Variable'>
float32 longitude(longitude)
    axis: X
    bounds: lon_bnds
    long_name: Longitude
    standard_name: longitude
    units: degrees_east
    valid_max: 359.875
    valid_min: 0.125
    _CoordinateAxisType: Lon
unlimited dimensions:
current shape = (205,)
filling on, default _FillValue of 9.969209968386869e+36 used
), ('sla', <class 'netCDF4._netCDF4.Variable'>
int32 sla(time, latitude, longitude)
    _FillValue: -2147483647
    comment: The sea level anomaly is the sea surface height above mean sea surface; it is referenced to the [1993, 2012] period; see the product user manual for details
    coordinates: time latitude longitude
    grid_mapping: crs
    long_name: Sea level anomaly
    scale_factor: 0.0001
    standard_name: sea_surface_height_above_sea_level
    units: m
unlimited dimensions:
current shape = (1462, 120, 205)
filling on), ('time', <class 'netCDF4._netCDF4.Variable'>
float32 time(time)
    axis: T
    calendar: gregorian
    long_name: Time
    standard_name: time
    units: days since 1950-01-01 00:00:00
    _CoordinateAxisType: Time
unlimited dimensions:
current shape = (1462,)
filling on, default _FillValue of 9.969209968386869e+36 used
)])

In [6]:
ds.variables

OrderedDict([('latitude', <class 'netCDF4._netCDF4.Variable'>
              float32 latitude(latitude)
                  axis: Y
                  bounds: lat_bnds
                  long_name: Latitude
                  standard_name: latitude
                  units: degrees_north
                  valid_max: 89.875
                  valid_min: -89.875
                  _CoordinateAxisType: Lat
              unlimited dimensions:
              current shape = (120,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('longitude', <class 'netCDF4._netCDF4.Variable'>
              float32 longitude(longitude)
                  axis: X
                  bounds: lon_bnds
                  long_name: Longitude
                  standard_name: longitude
                  units: degrees_east
                  valid_max: 359.875
                  valid_min: 0.125
                  _CoordinateAxisType: Lon
              unlimited dimensions:
              current shape = (205,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('sla', <class 'netCDF4._netCDF4.Variable'>
              int32 sla(time, latitude, longitude)
                  _FillValue: -2147483647
                  comment: The sea level anomaly is the sea surface height above mean sea surface; it is referenced to the [1993, 2012] period; see the product user manual for details
                  coordinates: time latitude longitude
                  grid_mapping: crs
                  long_name: Sea level anomaly
                  scale_factor: 0.0001
                  standard_name: sea_surface_height_above_sea_level
                  units: m
              unlimited dimensions:
              current shape = (1462, 120, 205)
              filling on),
             ('time', <class 'netCDF4._netCDF4.Variable'>
              float32 time(time)
                  axis: T
                  calendar: gregorian
                  long_name: Time
                  standard_name: time
                  units: days since 1950-01-01 00:00:00
                  _CoordinateAxisType: Time
              unlimited dimensions:
              current shape = (1462,)
              filling on, default _FillValue of 9.969209968386869e+36 used)])

In [7]:
ds.variables['time'].units

'days since 1950-01-01 00:00:00'

In [8]:
time1 = ds.variables['time'][:]

In [49]:
#function to calculate time in a way that is not calculating days from 1/1/1950
#t1 = 1
def date_adder(t1):
    
    start_date = datetime.date(1950,1,1)
    delta = datetime.timedelta(days = t1)
    days_now = start_date + delta
    return (days_now.strftime("%a /%m /%d / %Y"))
    print (days_now.strftime('%c'))

In [50]:
date_adder(23537)

'Wed /06 /11 / 2014'

In [53]:
print (strftime('%c'))

NameError: name 'strftime' is not defined

In [ ]:
sla = ds.variables['sla'][:]
time = ds.variables['time'][:]
lat = ds.variables['latitude'][:]
lon = ds.variables['longitude'][:]

In [ ]:
plt.pcolor(lon, lat, sla[0, :, :], cmap = "plasma")
plt.title("Sea Levels")
plt.xlabel("Lon")
plt.ylabel("Lat")
plt.colorbar()
ax = plt.gca()
ax.set_facecolor('xkcd:White')
plt.show()